.simple-bar-graph {
  position: relative;
}
.simple-bar-graph__columns {
  padding-top: 16px;
  padding-bottom: 16px;
  position: relative;
}
.simple-bar-graph__column {
  position: relative;
  float: left;
  height: 100%;
  vertical-align: bottom;
}
.simple-bar-graph__caption,
.simple-bar-graph__rows {
  position: absolute;
}
.simple-bar-graph__bar {
  position: absolute;
  left: 2px;
  right: 2px;
  bottom: 0;
  opacity: 0.8;
  background-color: rgba(0, 0, 0, 0.15);
  -webkit-border-top-left-radius: 2px;
  border-top-left-radius: 2px;
  -webkit-border-top-right-radius: 2px;
  border-top-right-radius: 2px;
  -webkit-transition: height 0.2s ease-in-out;
  -moz-transition: height 0.2s ease-in-out;
  transition: height 0.2s ease-in-out;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}
.simple-bar-graph__bar--active {
  opacity: 1;
  -webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
  z-index: 10;
}
.simple-bar-graph__bar--active .simple-bar-graph__popup {
  display: block;
}
.simple-bar-graph__caption {
  left: 0;
  right: 0;
  bottom: -16px;
  text-align: center;
  font-size: 0.5625em;
  line-height: 10px;
}
.simple-bar-graph__rows {
  width: 100%;
  top: 16px;
  left: 0;
  right: 0;
  bottom: 16px;
}
.simple-bar-graph__row {
  position: relative;
  border-top: 1px dashed rgba(0, 0, 0, 0.1);
}
.simple-bar-graph__null {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.1);
}
.simple-bar-graph__caption,
.simple-bar-graph__value {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.simple-bar-graph__value {
  position: absolute;
  right: 0;
  top: -8px;
  font-size: 0.5625em;
  line-height: 10px;
}
.simple-bar-graph__popup {
  padding: 4px;
  position: absolute;
  display: none;
  top: -4px;
  left: 50%;
  width: auto;
  font-size: 0.6875em;
  font-weight: 300;
  line-height: 1em;
  color: #fff;
  background-color: #000;
  -webkit-box-shadow: 4px 0 6px rgba(0, 0, 0, 0.1);
  box-shadow: 4px 0 6px rgba(0, 0, 0, 0.1);
  -webkit-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid #fff;
}
.simple-bar-graph__popup:after,
.simple-bar-graph__popup:before {
  position: absolute;
  top: 50%;
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-style: solid;
}
.simple-bar-graph__popup:before {
  margin-top: -6px;
  left: -6px;
  border-width: 6px 6px 6px 0;
  border-color: transparent rgba(255, 255, 255, 0.85) transparent transparent;
  z-index: -1;
}
.simple-bar-graph__popup:after {
  margin-top: -4px;
  left: -4px;
  border-width: 4px 4px 4px 0;
  border-color: transparent #000 transparent transparent;
  z-index: 2;
}

/* linear progress bar */
.progBar-holder {
  background-color: white;
  border-radius: 5px;
  font-family: "Poppins", sans-serif;
  padding: 10px;
}
.progBar-holder h4 {
  font-size: 23px;
  font-weight: bold;
  margin: 20px auto 20px 10px;
}
.progBar-top-right {
  color: #817d7d;
  font-size: 14px;
  position: absolute;
  right: 45px;
  top: 35px;
  margin-bottom: 0;
}
.progBar-collection {
  margin: 40px auto 10px auto;
  width: 100%;
}
.single-progressbar .title {
  font-size: 18px;
  line-height: 28px;
  font-weight: 600;
}

.single-progressbar {
  width: 60%;
  position: relative;
  margin: 30px 15px 10px 0;
}
.progBar-data {
  width: 100%;
  display: flex;
  flex-direction: row;
}
.progBar-data p {
  font-size: 15px;
  width: 40%;
  margin: 8px 10px;
  font-weight: bold;
  align-self: center;
  text-transform: capitalize;
}
.card {
  margin-bottom: 30px;
}

.card .card-header .title {
  font-size: 18px;
  font-weight: 600;
  padding: 0;
}

.card .card-body code {
  background-color: #efecec;
  padding: 10px;
  border-radius: 3px;
}

.header .title {
  font-size: 50px;
  font-weight: 600;
}

.header {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.header .title::first-letter {
  color: #fc4444;
}

.margin-top-60 {
  margin-top: 60px;
}

ul.menu {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-top: 40px;
}

ul.menu li {
  display: inline-block;
}

ul.menu li a {
  color: #333;
  font-size: 14px;
  font-weight: 600;
  transition: all 500ms;
  text-decoration: none;
}

ul.menu li a:hover {
  color: #fc4444;
}

ul.menu li + li {
  margin-left: 25px;
}

.progressbar {
  width: 100%;
  margin-top: 5px;
  margin-bottom: 25px;
  position: relative;
  background-color: #f4f4f4;
}
.proggress {
  height: 8px;
  width: 10px;
  background-color: #ff0;
}
.percentCount {
  float: right;
  margin-top: -42px;
  clear: both;
  font-weight: 700;
  font-size: 13px;
  color: #777777;
}
