/* bar graph*/

.chartjs-render-monitor {
  width: 90% !important;
  max-height: 600px !important;
}
.bar-holder canvas {
  margin: 70px auto 10px;
}
/* linear progress bar */
.progBar-holder {
  background-color: white;
  border-radius: 5px;
  position: relative;
  font-family: "Poppins", sans-serif;
  padding: 10px;
  margin: 30px auto;
}
.progBar-holder h4 {
  font-size: 23px;
  font-weight: bold;
  margin: 20px auto 20px 10px;
}
.progBar-top-right {
  color: #817d7d;
  font-size: 14px;
  position: absolute;
  right: 35px;
  top: 35px;
  margin-bottom: 0;
}
.progBar-collection {
  margin: 40px auto 10px auto;
  width: 100%;
}
.single-progressbar .title {
  font-size: 18px;
  line-height: 28px;
  font-weight: 600;
}

.single-progressbar {
  width: 60%;
  position: relative;
  margin: 30px 15px 0 0;
}
.progBar-data {
  width: 100%;
  display: flex;
  flex-direction: row;
}
.progBar-data p {
  font-size: 15px;
  width: 40%;
  margin: 8px 10px;
  font-weight: bold;
  align-self: center;
  text-transform: capitalize;
}
.card {
  margin-bottom: 30px;
}

.card .card-header .title {
  font-size: 18px;
  font-weight: 600;
  padding: 0;
}

.card .card-body code {
  background-color: #efecec;
  padding: 10px;
  border-radius: 3px;
}

.header .title {
  font-size: 50px;
  font-weight: 600;
}

.header {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.header .title::first-letter {
  color: #fc4444;
}

.margin-top-60 {
  margin-top: 60px;
}

ul.menu {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-top: 40px;
}

ul.menu li {
  display: inline-block;
}

ul.menu li a {
  color: #333;
  font-size: 14px;
  font-weight: 600;
  transition: all 500ms;
  text-decoration: none;
}

ul.menu li a:hover {
  color: #fc4444;
}

ul.menu li + li {
  margin-left: 25px;
}

.progressbar {
  width: 100%;
  margin-top: 5px;
  margin-bottom: 25px;
  position: relative;
  background-color: #f4f4f4;
}
.proggress {
  height: 8px;
  width: 10px;
  background-color: #ff0;
}
.percentCount {
  float: right;
  margin-top: -42px;
  clear: both;
  font-weight: 700;
  font-size: 13px;
  color: #777777;
}
/* pie chart */
.color1 {
  border-color: #1ef592 !important;
}
.color2 {
  border-color: red !important;
}
.pieChart-holder {
  background-color: white;
  border-radius: 5px;
  font-family: "Poppins", sans-serif;
  padding: 10px;
  position: relative;
  margin: 30px auto;
  min-height: 400px;
}
.morris-hover {
  position: absolute;
  z-index: 1000;
}
.morris-hover.morris-default-style {
  border-radius: 10px;
  padding: 6px;
  color: #666;
  background: rgba(255, 255, 255, 0.8);
  border: solid 2px rgba(230, 230, 230, 0.8);
  font-family: "poppins", sans-serif;
  font-size: 12px;
  text-align: center;
}
.morris-hover.morris-default-style .morris-hover-row-label {
  font-weight: bold;
  margin: 0.25em 0;
}
.morris-hover.morris-default-style .morris-hover-point {
  white-space: nowrap;
  margin: 0.1em 0;
}
text tspan {
  font-size: 20px !important;
  font-family: "poppins", sans-serif !important;
  font-weight: 600 !important;
  line-height: 10px !important;
}

.pieChart-data h4 {
  font-size: 23px;
  font-weight: bold;
  margin: 20px auto 20px 10px;
}
.pieChart-data {
  height: 100%;
  /* width: 40%; */
  /* top: 0;
  left: 0; */
  /* position: absolute; */
}
.pieChart-v-title {
  font-size: 23px;
  font-weight: bold;
  margin: 20px auto 20px 10px;
}
.pieChart-content {
  display: flex;
  flex-direction: row;
  width: 100%;
  min-width: 260px;

  margin: 15px auto;
}
.pieChart-content p {
  margin: auto auto auto 5px;
  font-size: 13px;

  font-weight: 500;
}
.pie-point {
  width: 15px;
  height: 15px;
  margin: 10px;
  margin-left: 20px;
  border-radius: 50%;
}
.pieChart-v-contents {
  width: 100%;
  padding: 10px;
}
.pieChart-v-data {
  display: flex;
  height: 50px;
  margin: 10px auto;
  width: 100%;
  min-width: 250px;
  flex-direction: row;
}
.pieChart-v-point {
  width: 40px;
  height: 40px;
  margin: 5px;
  color: white;
  text-align: center;
  font-size: 18px;
  line-height: 40px;
  border-radius: 50%;
  font-weight: 600;
}
.pieChart-v-data p {
  margin-bottom: 0;
  line-height: 50px;
  margin-left: 10px;
}
