body
{
    background-color: #F5F6F8;
    font-family: 'Poppins', sans-serif;
}
.col-md-7{
    height:auto;
    border-radius: 5px;
}
/*
.col-md-7:hover{
    box-shadow: 0 0 11px rgba(33,33,33,.2);
}
*/
.col-md-5{
    height:auto;
    border-radius: 5px;
}
.col-md-6
{
    background: #fff;
    height: auto;
    float: left;
    margin-top: 10px;
    border-radius: 5px;
}

#invoice-frame{
    height: 420px;
}
.list-group{
    margin-top: 40px;
}
.list-group-item{
    border: none;
}
.list-group-item .avatar-circle{
    width: 20px;
    height: 20px;
    background-color: #6E7C7C;
    border-radius: 50%;
    float: left;
}
.list-group-item .avatar-circle1{
    width: 20px;
    height: 20px;
    background-color: #435560;
    border-radius: 50%;
    float: left;
}
.list-group-item .avatar-circle2{
    width: 20px;
    height: 20px;
    background-color: #435560;
    border-radius: 50%;
    float: left;
}
.list-group-item .avatar-circle3{
    width: 20px;
    height: 20px;
    background-color: #92967D;
    border-radius: 50%;
    float: left;
}
.list-group-item .avatar-circle4{
    width: 20px;
    height: 20px;
    background-color: #000000;
    border-radius: 50%;
    float: left;
}
.list-group-item .text-field{
    float: left;
}
.list-group-item .text-field p{
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 400;
    padding-left: 10px;
    margin-top: -4px;
}
.card-body{
    margin-top: 10px;
}

#invoice-frame .card{
    border-radius: 5px;
}
#invoice-frame .list-group{
    margin-top: 20px;
}
#invoice-frame .list-group-item{
    border: none;
}
#invoice-frame .list-group-item .avatar-circle{
    width: 20px;
    height: 20px;
    background-color: #855CF8;
    border-radius: 50%;
    float: left;
}
#invoice-frame .list-group-item .avatar-circle1{
    width: 20px;
    height: 20px;
    background-color: #B085FF;
    border-radius: 50%;
    float: left;
}
#invoice-frame .list-group-item .avatar-circle2{
    width: 20px;
    height: 20px;
    background-color: #503795;
    border-radius: 50%;
    float: left;
}
#invoice-frame .list-group-item .avatar-circle3{
    width: 20px;
    height: 20px;
    background-color: #FF0505;
    border-radius: 50%;
    float: left;
}

/* Second row */
.col-md-6{
    height:auto;
    border-radius: 5px;
    background: transparent;
    margin-top: 40px;
}
.col-md-12
{
    background: #ffffff;
    height: auto;
    float: left;
    border-radius: 5px;
}
.col-6{
    float: left;
    background: #FFF;
}
.col-6 .invoice-circle{
    width: 40px;
    height: 40px;
    background-color: #440A67;
    border-radius: 50%;
    float: right;
    text-align: center;
}
.col-6 .invoice-circle1{
    width: 40px;
    height: 40px;
    background-color: #93329E;
    border-radius: 50%;
    float: right;
    text-align: center;
}
.col-6 .invoice-circle2{
    width: 40px;
    height: 40px;
    background-color: #B4AEE8;
    border-radius: 50%;
    float: right;
    text-align: center;
}
.col-6 .invoice-circle3{
    width: 40px;
    height: 40px;
    background-color: #FFE3FE;
    border-radius: 50%;
    float: right;
    text-align: center;
}
.col-6 .invoice-circle p{
    color: #ffffff;
    font-size: 18px;
    font-weight: 600;
    padding-top: 7px;
}
.col-6 .invoice-circle1 p{
    color: #ffffff;
    font-size: 18px;
    font-weight: 600;
    padding-top: 7px;
}
.col-6 .invoice-circle2 p{
    color: #ffffff;
    font-size: 18px;
    font-weight: 600;
    padding-top: 7px;
}
.col-6 .invoice-circle3 p{
    color: #541F3B;
    font-size: 18px;
    font-weight: 600;
    padding-top: 7px;
}
.col-6 .text-field{
    margin-top: 10px;
}

/* Third row */

#third-row{
    margin-top: 50px;

}

#third-row .col-5{
    background: transparent;
    float: right;
    margin-top: -50px;
}
#third-row .col-5 ul li{
    display: inline-flex;
    width: 100px;
    margin-top: 25px;
    float: right;
}
#third-row .col-5 ul li .invoice-rectangle{
  width:20px;
  height:20px;
  background: #283975;
  margin-left: 10px;
}
#third-row .col-5 ul li .invoice-rectangle1{
  width:20px;
  height:20px;
  background: #B4AEE8;
  margin-left: 10px;
}
