/* body {
  width: 800px;
  margin: 0 auto;
} */
#graph {
  /* width: 1000px;
  height: 250px; */
  /* margin: 20px auto 0 auto; */
  margin-top: 70px;
}
pre {
  display: none;
}

#invo {
  margin-top: 70px;
}
#timeg {
  margin-top: 70px;
}

text tspan {
  font-size: 20px !important;
  font-family: "poppins", sans-serif !important;
  font-weight: 600 !important;
}
/* .invoice-circle2 {
  margin: auto;
}
.list-group-item {
  display: flex;
  flex-wrap: wrap;
} */
