body {
    background: #f9f9f9;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
}

/* progress bar style */
.progressbar {
    width: 100%;
	margin-top: 5px;
	margin-bottom: 35px;
	position: relative;
	background-color: #EEEEEE;
	/* box-shadow: inset 0px 1px 1px rgba(0,0,0,.1); */
}

.proggress{
	height: 8px;
	width: 10px;
	background-color: #3498db;
}

.percentCount{
	float:right;
	margin-top: -20px;
  margin-right: -60px;
	clear: both;
	font-weight: 500;
	
}
#jq, #jq1, #jq2, #jq3, #jq4{
  margin-left: -50px;
  width: 93%;
}

@media screen and (max-width: 1200px){
  #jq, #jq1, #jq2, #jq3, #jq4{
     margin-left: 0px;
     width: 90%;
   }
}

/*  */
/* pie-chart changed */
.pie-point{
    width: 18px;
    height: 18px;
    margin: 10px 5px;
    float: left;
    padding: 10px;
    /* margin-left: 20px; */
    border-radius: 50%;
}
.dis-flex{
    display: flex;
    /* min-width: 220px; */
    width: 100%;
    max-height: 55px;
    height: 100%;
    margin: 15px;
}
.dis-flex p{
    margin: 10px;
    float: right;
    font-size: 16px;
}
.blog-button{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    box-shadow: 1px -1px 18px 0 rgb(25 42 70 / 55%);
    color: white;
    background-color: #00d8a6;
    border: 1.5px solid #00d8a6;
    cursor: pointer;
    transition: all .3s ease;
    position: sticky;
    right: 0;
    bottom: 20px;
    margin: 10px 0 10px auto;
    text-align: center;
    z-index: 1000;
    line-height: 55px;
    font-size: 18px;

}
.blog-button:focus{
    outline: none;
}
.blog-button:hover{
    background-color: white;
    color:#00d8a6;
    /* line-height: 50px; */
   font-size: 20px;
}

.graph-data{
    display: inline-flex;
    width: 100px;
    margin-top: 5px auto;
    float: right;
}
/* media query */
@media screen and (max-width: 420px) {
    .second-title {
      font-size: 23px !important;
    }
  }
  .card-hei{
    min-height: 620px;
    height: 100%;
    margin-bottom: 20px;
  }
  .card-hei2{
  min-height: 500px;
  height: 90%;
}
.card-title {
    font-family: 'Poppins', sans-serif;
    font-size: 27px;
    font-weight: bold;
}
.second-title {
    font-family: 'Poppins', sans-serif;
    font-size: 27px;
    font-weight: 700;
    margin-top: 20px;
}
p {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: medium;
    color: #484545;
}

.card{
    border: none;
    margin: 20px auto;
   
}

#av4, #av9, #av13{
    margin-top: -12px;
}
*/
.container-fluid .row .col-md-6 {
    margin-top: 10px;
}
.container-fluid .row .col-md-6 .col-md-12 .col-md-6 {
    float: left;
    margin: 10px auto;
}
.container-fluid .row .col-md-6 .col-md-12 .col-md-6 .list-group {
    width: 100%;
}
.container-fluid .row .col-md-6 .col-md-12 .col-md-6 .list-group .list-group-item {
    float: left;
    border: none;
    width: 100%;
}

.container-fluid .row .col-md-6 .col-md-12 .col-md-6 .list-group .list-group-item .avatar-circle {
    float: left;
    border: none;
    width: 20px;
    height: 20px;
    background: #6e7c7c;
    border-radius: 50%;
    margin-left: -30px;
    margin-top: 8px;
}
.container-fluid .row .col-md-6 .col-md-12 .col-md-6 .list-group .list-group-item .avatar-circle1 {
    float: left;
    border: none;
    width: 20px;
    height: 20px;
    background: #435560;
    border-radius: 50%;
    margin-left: -30px;
    margin-top: 8px;
}
.container-fluid .row .col-md-6 .col-md-12 .col-md-6 .list-group .list-group-item .avatar-circle2 {
    float: left;
    border: none;
    width: 20px;
    height: 20px;
    background: #92967d;
    border-radius: 50%;
    margin-left: -30px;
    margin-top: 8px;
}
.container-fluid .row .col-md-6 .col-md-12 .col-md-6 .list-group .list-group-item .avatar-circle3 {
    float: left;
    border: none;
    width: 20px;
    height: 20px;
    background: #c8c6a7;
    border-radius: 50%;
    margin-left: -30px;
    margin-top: 8px;
}
.container-fluid .row .col-md-6 .col-md-12 .col-md-6 .list-group .list-group-item .avatar-circle4 {
    float: left;
    border: none;
    width: 20px;
    height: 20px;
    background: #000000;
    border-radius: 50%;
    margin-left: -30px;
    margin-top: -10px;
}
/* .container-fluid .row .col-md-6 .col-md-12 .col-md-6 .list-group .list-group-item .text-field {
} */
.container-fluid .row .col-md-6 .col-md-12 .col-md-6 .list-group .list-group-item .text-field p {
    float: left;
    padding-left: 10px;
}

.container-fluid .row .col-md-6 .col-md-12 .col-md-6 .list-group .list-group-item .avatar-circle6 {
    float: left;
    border: none;
    width: 20px;
    height: 20px;
    background: #855cf8;
    border-radius: 50%;
    margin-left: -30px;
    margin-top: 15px;
}
.container-fluid .row .col-md-6 .col-md-12 .col-md-6 .list-group .list-group-item .avatar-circle7 {
    float: left;
    border: none;
    width: 20px;
    height: 20px;
    background: #b085ff;
    border-radius: 50%;
    margin-left: -30px;
    margin-top: 15px;
}
.container-fluid .row .col-md-6 .col-md-12 .col-md-6 .list-group .list-group-item .avatar-circle8 {
    float: left;
    border: none;
    width: 20px;
    height: 20px;
    background: #503795;
    border-radius: 50%;
    margin-left: -30px;
    margin-top: 15px;
}
.container-fluid .row .col-md-6 .col-md-12 .col-md-6 .list-group .list-group-item .avatar-circle9 {
    float: left;
    border: none;
    width: 20px;
    height: 20px;
    background: #ff0505;
    border-radius: 50%;
    margin-left: -30px;
    margin-top: -10px;
}

.container-fluid .row .col-md-6 .col-md-12 .col-md-6 .list-group .list-group-item .avatar-circle10 {
    float: left;
    border: none;
    width: 20px;
    height: 20px;
    background: #440a67;
    border-radius: 50%;
    margin-left: -30px;
    margin-top: 15px;
}
.container-fluid .row .col-md-6 .col-md-12 .col-md-6 .list-group .list-group-item .avatar-circle11 {
    float: left;
    border: none;
    width: 20px;
    height: 20px;
    background: #93329e;
    border-radius: 50%;
    margin-left: -30px;
    margin-top: 15px;
}
.container-fluid .row .col-md-6 .col-md-12 .col-md-6 .list-group .list-group-item .avatar-circle12 {
    float: left;
    border: none;
    width: 20px;
    height: 20px;
    background: #b4aee8;
    border-radius: 50%;
    margin-left: -30px;
    margin-top: 15px;
}
.container-fluid .row .col-md-6 .col-md-12 .col-md-6 .list-group .list-group-item .avatar-circle13 {
    float: left;
    border: none;
    width: 20px;
    height: 20px;
    background: #ffe3fe;
    border-radius: 50%;
    margin-left: -30px;
    margin-top: -10px;
}

#recritment .card .card-body .gradient-button {
    width: 140px;
    height: 50px;
    border: none;
    border-radius: 35px;
    background-image: linear-gradient(to right, #2af5a0, #009efd);
    float: right;
    margin-right: 10px;
    margin-top: -55px;
    color: #ffffff;
    font-weight: bold;
}
#recritment .card .card-body .col-md-12 {
    height: 300px;
    border: 1.5px solid #d6d6d6;
    border-radius: 5px;
    padding-top: 45px;
    margin-top: 40px;
}
#recritment .card .card-body .col-md-12 h6 {
    font-size: 23px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}
#recritment .card .card-body .col-md-12 .col-9 {
    float: left;
    font-size: 21px;
    color: #414040;
    font-weight: medium;
    font-family: 'Poppins', sans-serif;
}
#recritment .card .card-body .col-md-12 .col-3 {
    font-size: 23px;
    font-weight: 600px;
    float: left;
    color: #414040;
    font-family: 'Poppins', sans-serif;
}
#recritment .card, #staff .card, #client .card{
    margin-top: 20px;
}
#staff .card .card-body .gradient-button {
    width: 140px;
    height: 52px;
    border: none;
    border-radius: 35px;
    background-image: linear-gradient(to right, #2af5a0, #009efd);
    float: right;
    margin-right: 20px;
    margin-top: -55px;
    color: #ffffff;
    font-weight: bold;
    transition: all .3s ease;
}
.gradient-button:focus{
    outline: none;
}
.gradient-button:hover{
    letter-spacing: 1px;
}
#staff .card .card-body .col-md-12 {
    height: 300px;
    border: 1.5px solid #d6d6d6;
    border-radius: 5px;
    padding-top: 45px;
    margin-top: 40px;
}
#staff .card .card-body .col-md-12 h6 {
    font-size: 23px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}
#staff .card .card-body .col-md-12 .col-9 {
    float: left;
    font-size: 21px;
    color: #414040;
    font-weight: medium;
    font-family: 'Poppins', sans-serif;
}
#staff .card .card-body .col-md-12 .col-3 {
    font-size: 23px;
    font-weight: 600px;
    float: left;
    color: #414040;
    font-family: 'Poppins', sans-serif;
}
#client .card .card-body .gradient-button {
    width: 140px;
    height: 52px;
    border: none;
    border-radius: 35px;
    background-image: linear-gradient(to right, #2af5a0, #009efd);
    float: right;
    margin-right: 20px;
    margin-top: -55px;
    color: #ffffff;
    font-weight: bold;
}
#client .card .card-body .col-md-12 {
    height: 116px;
    border: 1.5px solid #d6d6d6;
    border-radius: 5px;
    padding-top: 45px;
    margin-top: 40px;
}
#client .card .card-body .col-md-12 h6 {
    font-size: 23px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}
#client .card .card-body .col-md-12 .col-9 {
    float: left;
    font-size: 21px;
    color: #414040;
    font-weight: medium;
    font-family: 'Poppins', sans-serif;
}
#client .card .card-body .col-md-12 .col-3 {
    font-size: 23px;
    font-weight: 600px;
    float: left;
    color: #414040;
    font-family: 'Poppins', sans-serif;
}

#data-card2 {
    height: 300px;
}
#data-card3 {
    height: 300px;
}
#data-card2 .col-9,
#data-card2 .col-3 {
    height: 100px;
    padding-top: 50px;
}
#data-card3 .col-9,
#data-card3 .col-3 {
    height: 100px;
    padding-top: 50px;
}
#data-card6,
#data-card7,
#data-card8 {
    height: 116px;
    border: 1px solid #d5e6ff;
    border-radius: 5px;
    padding-top: 45px;
    margin-top: 10px;
}
#top-candid, #month-invoice{
    margin-top: 20px;
}
#top-widget, #event-cal{
    margin-top: 20px;
}
#top-candid .card .week{
    float: right;
    
    margin-right: 20px;
    position: absolute;
    color: #817D7D;
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    right: 10px;
    top: 40px;
}
#pbar{
  margin-top: 70px;
}
#pbar .col-md-3{
  float: left;
  font-size: 20px;
}
#pbar .col-md-9{
  float: left;
}

#month-invoice .card .col-5{
    background: transparent;
    float: right;
    margin-top: -50px;
}
#month-invoice .card .col-5 ul li{
    display: inline-flex;
    width: 100px;
    margin-top: 25px;
    float: right;
}

.invoice-rectangle{
  width:20px;
  height:20px;
  border-radius: 2px;
  margin-right: 10px;
}
.graph-data p{
    margin-bottom: 0;
}
#month-invoice .card .col-md-11{
  margin: 20px auto;
/*  height: 700px;*/
}
#month-invoice .card .col-md-9 #sales-chart{

}

/*media query*/

@media only screen and (min-device-width: 768px) 
                   and (max-device-width: 1200px) 
                   and (-webkit-min-device-pixel-ratio: 1) {
p{
    font-size: 14px;
}
}
@media only screen and (min-device-width: 768px) 
                   and (max-device-width: 792px) 
                   and (-webkit-min-device-pixel-ratio: 1) {
.gradient-button{
/*    display: none;*/
    width: 70px;
    height: 26px;
    border: none;
    border-radius: 35px;
    background-image: linear-gradient(to right, #2af5a0, #009efd);
    float: right;
    margin-right: 20px;
    margin-top: -55px;
    color: #ffffff;
    font-weight: bold;
}
}

@media only screen and (min-device-width: 768px) 
                   and (max-device-width: 992px) 
                   and (-webkit-min-device-pixel-ratio: 1) {
                       #top-candid{
                           100%;
                       }
                       #top-candid .col-md-3, #top-candid .col-md-3{
                           float: left;
                           font-size: 12px;
                       }
#month-invoice .card .col-5{
    background: transparent;
    float: right;
    margin-top: -50px;
    margin-right: -50px;
}
#month-invoice .card .col-5 ul li{
    display: inline-flex;
    width: 100px;
    margin-top: 25px;
/*    margin-right: -60px;*/
    float: right;
}
#month-invoice .card .col-5 ul li .invoice-rectangle{
  width:10px;
  height:10px;
  background: #283975;
  margin-left: 10px;
}
#month-invoice .card .col-5 ul li .invoice-rectangle1{
  width:10px;
  height:10px;
  background: #B4AEE8;
  margin-left: 10px;
}
}